<style>
    img{
        width: 200px;
    }
</style>

<h2>All Friends</h2>
<ul>
  {{#each friend}}
  	<li>
  		<p><span class="label">Name:</span> {{this.name}}</p>
      <p><span class="label">Photo:</span></p>
      <img src={{this.photo}} alt="User Photo" </p>
      <p><span class="label">Scores:</span> {{this.scores}}</p>
        <p><span class="label">Total Difference to your score:</span> {{this.total}}</p>

  	</li>
  {{/each}}
</ul>
